@import url('https://fonts.googleapis.com/css?family=Fjalla+One:100,200,300,400,500,600,700|Abel:100,200,300,400,500,600,700');

/*-----------------------------------------body */

body {
    font-family: 'Abel', sans-serif;
    color: #000000;
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}


/*-----------------------------------------Content Containers */

.container-wrapper--fionaappleabout {
    background: url('../images/container-background/fionaappleabout.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    position: relative;
    color: #f0f6f9;
}

.container-wrapper--fionaapplemusic {
    background: url('../images/container-background/fionaapplemusic.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    position: relative;
    color: #f0f6f9;
}

.container-wrapper--fionaapplevideo {
    background: url('../images/container-background/fionaapplevideos.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    position: relative;
    color: #f0f6f9;
}

.container-wrapper--fionaapplephotos {
    background: url('../images/container-background/fionaapplephotos.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    position: relative;
    color: #f0f6f9;
}

.container-wrapper--fionaappletourdates {
    background: url('../images/container-background/fionaappletourdates.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    position: relative;
    color: #f0f6f9;
}

.about-content-container, 
.music-content-container,
.video-content-container,
.photo-content-container,
.tour-content-container {
    padding: 95px 40px 95px 40px;
}

   /*----space between vertical stacking----*/
   
 @media (max-width: 800px) {
     .grid-container > div {
         margin-bottom: 20px;
     }
  }
   

/*----------------------------------------- Modal Styling */
    
.modal-header,
.modal-footer{
    border: none;
}

.modal-title{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #dbc7bd;  
}

.modal-body{
    color: #fafafa;  
    text-align: left;
}

.modal-dialog{
    max-width: 65%;  
}

.modal-content{
    background-color: #615650; 
    padding: 20px;   
}

.btn-dark,
.btn-secondary{
    background-color: rgb(0, 0, 0);
    color: rgb(237, 227, 222);
    border: none;
    padding: 14px 20px;
    margin: 0px;
    text-transform: uppercase;    
    font-family: 'Abel', sans-serif;
    border-radius: 0px;    
}

.btn.btn-dark:hover{
  color: rgb(237, 227, 222);
  background-color: rgb(89, 89, 89);
}

.btn.btn-dark:active:focus{
  color: rgb(237, 227, 222);
  background-color: rgb(89, 89, 89);
}

/*-----------------------------------------Header Image */


.header-image {
    background: url('../images/header/fionaappleheadercolor.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}


/*-----------------------------------------Navbar */



.navbar-bg{
    background-color: #615650;
    border: 0;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.1em;
    font-size: larger;
}

.navbar-brand:hover{
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;     
}

.navbar-nav li a{
    color: #dbc7bd !important;
}

.navbar-nav li a:hover{
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;     
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(219, 199, 189, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgba(219, 199, 189, 1);
} 

.custom-toggler.navbar-toggler:hover {
    opacity: 0.8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 

button:focus { 
    outline:0 !important; 
}


/*-----------------------------------------About*/

.about-heading{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #dbc7bd;
    margin: auto;
    padding-bottom: 50px;
    
}

.bio-content{
text-align: left;   
font-weight: bold;
font-size: large;
padding: 20px;
}



/*-----------------------------------------Music*/


.music-heading{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #dbc7bd;
    margin: auto;
    padding-bottom: 50px;
}

.music-player{
    padding-bottom:5%; 
    padding-top:5%;
    width: 100%;
    margin: auto;
}

.album-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}


.responsive-image {
    max-width: 100%; 
    display:block; 
    height: auto;
    opacity: 1.0;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.btn-dark a{
    background-color: rgb(0, 0, 0);
    color: rgb(237, 227, 222);
    border: none;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0px;
    text-transform: uppercase;    
    font-family: 'Abel', sans-serif;
    border-radius: 0px;    
}

.btn.btn-dark a:hover{
  color: rgb(237, 227, 222);
  background-color: rgb(89, 89, 89);
}

.btn.btn-dark a:active:focus{
  color: rgb(237, 227, 222);
  background-color: rgb(89, 89, 89);
}

.buy-btn {
     width: 100%;
     max-width: 190px;
     margin: 5px;
     box-sizing: border-box;
}

/*-----------------------------------------Video */

.video-heading{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #dbc7bd;
    margin: auto;
    padding-bottom: 50px;
}

.video-container {
  height: 0;
  overflow: hidden;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video-container-ratio {
  padding-bottom: 45%;
}


.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

iframe{
    border-width: 0px;
}


/*-----------------------------------------Photo Gallery*/

.photo-heading{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #dbc7bd;
    margin: auto;
    padding-bottom: 50px;
}


/*-----------------------------------------Tour Dates*/

.tour-heading{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Fjalla One', sans-serif;
    color: #dbc7bd;
    margin: auto;
    padding-bottom: 50px;
}

.tour-content{
    color: grey;
    font-size: larger;
    font-weight: bold;
}

/*-----------------------------------------Footer*/

footer{
    background-color: #615650;
    margin: 0;
    position: absolute;    
    padding: 55px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

    /*---- Newsletter Sign Up ----*/

.mail-content-container{
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Fjalla One', sans-serif;
    color: #dbc7bd;
    margin: auto;
}


::placeholder {
    color: #cfc7c8 !important;
    text-transform: uppercase;
}

input[type=text] {
    margin: 0px;
    height: 50px;
    text-indent: 0.05em;
    background-color: transparent;  
    border-style: solid;  
    border-width: 1px;  
    border-color: #ede3de; 
    border-radius:0px;
    max-width: 40em;
}

input[type=submit] {
    background-color: #000000; 
    color: #ede3de;
    padding: 14px 20px;
    margin: 0px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;    
    font-family: 'Abel', sans-serif;
    border-radius:0px;
}


    /*---- Privacy T&C's ----*/
    
.nav-link{
    color: #dbc7bd;
    font-size: large;
}

.nav-link:hover{
    color: #dbc7bd;
    opacity: 0.6;
}

.nav-link:focus{
    color: #dbc7bd;
    outline: 0;
}

    /*---- Social Links ----*/
    
.social-links li a i{
    width: 50px;
    height: 50px;
    padding: 19px 0;
    border-radius: 60%;
    font-size: 20px;
    line-height: 11px;
    text-align: center;
    color: #fafafa;
    background: #000000;
     
}

.social-links li a i:hover{
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;    
}

    /*---- Copyright ----*/
    
.copyright{
    padding-top: 20px;
    font-family: 'Abel', sans-serif;
    color: #dbc7bd;
}

